<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<h2>User information</h2>
<br>


<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}" >

    <input type="hidden" th:field="*{id}" id="id">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{username}" id="name"/>
    <br/>
    <label for="name">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="name">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <div >
        <th:block th:each="role: ${rolesList}">
            <input type="checkbox" th:field="*{roles}"
                   th:text="${role.getName()}"  th:value="${role.getId()}" class="m-2" />
        </th:block>
    </div>
    <br>
    <input type="submit" value="Save!"
           onclick="window.location.href = '/admin'"/>
    <br>
    <a href="/admin">To all users.</a>

    <br>

</form>

</body>
</html>